
@import url("/student-2/common.css");

.services-container {
    text-align: center;
    height: 20rem;
 
}
.services-container > label {
    font-family: var(--main-font-family);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.services-container > p {
    position: absolute;
    font-family: var(--main-font-family);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5rem;
}

#package-container, #hotel-container, #ticket-container, #transport-container {
    max-width: 60rem;
}

#svc-container {
    box-shadow: none;
    margin-top: 6rem;
    background-color: transparent;
}
#svc-container > label {
    margin-top: 8rem;
    color: #ffffff;
}


#header-background {
    position: absolute;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    height: 30rem;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

#header-background img {
    top: 0;
    width: 100%;
    min-width: 1500px;
    pointer-events: none;
    z-index: -1;
}

#header-gradient {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(var(--headerbg-gradient-color-1), var(--headerbg-gradient-color-2));

}
