/*
    Author:     A.L.A. FALIH
    Date:       March 31st, 2023
    Purpose:    Common CSS styles for all pages
    Copyright:  © 2023, All rights reserved
*/
@import url("../../student-2/common.css");

/*background setting*/
#quiz-image-container {
  position: relative;
  height: 40rem;
  width: 100%;
  background: url("../images/quizmainbg.jpg");
  background-size: 100% 100%;
  transition: .3s;
  overflow: hidden;
}
#quiz-image-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0), var(--body-color));
}
/*start quiz container*/
.quiz_welcome{
    color: rgb(250, 247, 247);
    padding: 2rem 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, -100%);
    background: transparent ;
    backdrop-filter: blur(5px);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    width: 96%;
    max-width: 60rem;
    transition: .3s;
    font-family: var(--banner-desc-font-family);  
}
.welcome_head{
  font-size: 3rem;
  font-weight: 500;  
  text-align: center;
  padding: .625rem;
  width: 100%;
}
.quiz_description{
  font-size: 1.25rem;
  font-weight: 500; 
}
.author{
  color: #00ff11c0;
}
.start_button{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: .625rem;
}
.info_box,
.quiz_box
{
    position: relative;
    left: 50%;
    transform: translate(-50%, -80%);
    box-sizing: border-box;
}
/*info box setup*/
.info_box{
    width: 700px;
    height: 50%;
    background: transparent ;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(15, 16, 16);
    position: relative;
    font-family: var(--banner-desc-font-family);  
}
.info_title{
    height: 60px;
    border-bottom: 1px solid #00ff11c0;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(248, 245, 245);
}
.info_box .info_list{
    padding: 2rem;
    color: rgb(255, 255, 255);
    height: 70%;  
}
.info_box .info{
    margin: 5px 0;
    padding: 1.2rem;
    font-size: 1.06rem;
}
.info_box .info span{
    font-weight: 600;
    color: #00ff11c0;
}
.info_box .button{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #00ff11c0;
}
.info_box .button button{
    margin: 0 5px;
    height: 40px;
    width: 120px;
    border: 1px solid rgb(243, 247, 247);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    background-size: 200px 100px;  
}
.button button.restart{
    color: rgb(238, 244, 244);
    background: url("../images/quizmainbg.jpg");
    background-size: 500px;
    padding: 1rem;  
}
.button button.restart:hover{
    background: rgb(241, 238, 238);
    color: rgb(15, 14, 14);   
}
.button button.quit{
    color: rgb(239, 245, 245);
    padding: 1rem;
    background-size: 500px;
    transition: ease-in .4s;   
}
.button button.quit:hover{
    color: rgb(7, 7, 7);
    background: rgb(248, 246, 246);   
}
/*main quiz box container setup*/
.quiz_box{
    color: rgb(248, 245, 245);
    border-radius: .625rem;
    box-shadow: 0 0 20px 5px rgba(4, 4, 4, 0.1);
    width: 700px;
    overflow: hidden;
    background-size: 600px 90px;
    font-family: var(--banner-desc-font-family);
}
.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px 2px rgb(47, 226, 205);
}
.quiz_box header .title{
    font-size: 1rem;
    font-weight: 500;
}
.quiz_box header .timer,.quenum{
    display: flex;
    align-items: center;
    width: 145px;
    height: 45px;
    background: url("../images/quizmainbg.jpg");
    border-radius: 5px;
    padding: 4px 8px;
    box-shadow: 0 0 1px 1px rgb(33, 32, 32);
    justify-content: center;
}
.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec{
    font-size: 1.125rem;
    font-weight: 400;
    background: black;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    user-select: none;
}
/*quiz inside content*/
.quiz-body{
  font-family: var(--banner-desc-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.quiz-container{  
  background: transparent ;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 700px;
  overflow: hidden;
}
.quiz-header{
  padding: 4rem;
}
h2,h3,p{
  font-size: 1rem;
  padding: .5rem;
  margin: 0;
}


.quiz-body ul{
  list-style-type: none;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  max-width: 75vw;
  margin-inline: auto;
  gap: .5rem;
}
.quiz-body ul li{
  margin: 1rem 0;
}
.quiz-body ul li label{
  cursor: pointer;
}


/*general button setup*/
button{
  background: url("../images/quizmainbg.jpg");
  color: rgb(247, 242, 242);
  text-shadow: 0px 0px 5px black;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  font-family: var(--banner-desc-font-family);
}
button:hover{
  background:rgb(243, 241, 241);
  color: rgb(2, 2, 2);
  transition: ease-in .4s;
}
/*quiz score and result box setup*/
.performance-box{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(248, 244, 244);
  position: relative;
  background: transparent ;
  backdrop-filter: blur(2px);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(15, 15, 15);
  height: 48%;
  align-content: center;
}
.performance_title{
  font-size: 60px;
  font-weight: 500;  
  text-align: center;
  padding: 2rem;
  align-items: center;
  width: 100%;
}
#perform-time-left,
#correct-count{
  padding: 2rem;
  font-size: 20px;
  font-weight: 500; 
}
.performance-box-extras{
  height: 380px;
  padding-top: 2rem;
}
/*show answer setup container*/
.answer-box{
  background: transparent ;
  backdrop-filter: blur(2px);
  color: rgb(248, 244, 244);
  left: 50%;
  transform: translate(-50%, -20%);
  padding: 15px 30px;
  position: relative;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(15, 15, 15);
  width: 80%;
}
.answer-box p{
  background: transparent ;
  backdrop-filter: blur(2px);
  color: rgb(47, 226, 205);
  text-shadow: 0px 0px 5px black;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(50, 51, 50);
}
.gtm{
  width: 100%;
  border: solid 2px black;
  border-radius: 5px;
}
.sa{
  width: 100%;
  border: solid 2px black;
  border-radius: 5px;
}
#goto-main2{
  width: 100%;
  border: solid 2px black;
  border-radius: 5px;
}

/*mobile view management*/
@media (max-width: 850px) {
  .quiz_welcome{
    color: rgb(250, 247, 247);
    padding: 15px 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent ;
    backdrop-filter: blur(5px);
    background-size: 900px 600px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    width: 100%;
    max-width: 60rem;     
}
.start_button{
  position: relative;
  top: 94%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  width: 80%;
}
}