@import url("/student-2/common.css");

.topic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -100%);
  font-family: var(--banner-font-family);
  font-size: var(--banner-font-size);
  color: darkblue;
  text-align: center;
  text-shadow: 0 0 3rem #000000;
}


#commentarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(210, 210, 210);
  width: 100%;

}

#prevcommentbox {

  background-color: rgb(121, 210, 86);
  width: 100%;


}

#gallery-header {
  margin-top: 10rem;
  background: transparent;
  align-items: center;

}

#header-background {
  position: absolute;
  align-items: center;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  max-width: 100%;
  height: 30rem;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

#banner-title {
  position: absolute;
  line-height: 5rem;
  margin-top: 7rem;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 0 2rem #000000;
  transition: .3s;


}

#header-background img {
  top: 0;
  width: 100%;
  min-width: 1500px;
  pointer-events: none;
  z-index: -1;
}

#header-gradient {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(transparent, var(--body-color));

}

#gallery-header>h1 {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}







#banner1 {
  position: absolute;
  display: block;
  top: 10rem;
  font-family: var(--banner-font-family);
  font-size: var(--banner-font-size);
  color: var(--site-text-color-5);
  text-align: center;
  text-shadow: 0 0 1rem #000000;
}


#banner-desc1 {
  position: absolute;
  display: block;
  top: 15rem;
  font-family: var(--banner-font-family);
  font-size: var(--banner-font-size);
  color: #ffffff;
  font-family: var(--banner-desc-font-family);
  font-size: var(--banner-desc-font-size);
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 1rem #000000;
}

#user-details {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;


  background-color: gray;

}

#fname,
#lname,
#mail {
  position: relative;
  margin: 0 0 0 0;
  left: 0;
  top: 0;
  width: 65%;
  height: 40%;
  font-family: var(--font-filters);
  font-size: 0.8rem;
  padding: 0 .5rem;
  outline: none;
  margin: 0 1rem;
  background-color: white;
  border-radius: 0.3rem;
}

#comarea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: none;
}

h1 {
  margin: auto;
  width: 60%;

  padding: 10px;
}




#user-details>input[type=text]>select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  position: relative;
  width: 20%;
  background-color: #6a4caf;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;


}


#success-div {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20000;

  overflow: hidden;
  height: 0;
}

#success-div2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10rem;
  background-color: #d0d0d0;
  box-shadow: 0 0 1rem #6a4caf;
  border-radius: 1rem;
  font-size: 2rem;
  text-align: center;
}

#success-div2>button {
  width: 7rem;
  height: 3rem;
  background-color: #6a4caf;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
}

#fullform {
  width: 220%;
}


form {
  margin-top: 26rem;
}

form>div>div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.insideprev {
  background-color: rgb(55, 0, 255);
  width: 100%;
  height: 250px;
  border: 20px;
}


.subq {
  position: relative;
  height: auto;
  width: 94%;
  background-color: #FFFFFF;
  transition: .3s;
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
}


.subq:hover {
  border-color: rgb(103, 103, 194);
  background-color: rgb(240, 237, 233);
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#ratelevel>label {
  padding-right: 10px;


}

#send-feedback {
  margin-top: 2rem;
  margin-bottom: 1rem;
}


@media (max-width: 850px) {
  #contentarea {
    flex-direction: column;

  }


  #user-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  #commentarea {
    /* background-color: rgb(168, 212, 234);*/
    width: 100%;

  }


  .userdetails {
    background-color: rgb(139, 144, 146);
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}