/*
    Author:     A.L.A. FALIH
    Date:       March 31st, 2023
    Purpose:    Common CSS styles for all pages
    Copyright:  © 2023, All rights reserved
*/
@import url("/student-2/common.css");
body{
	background:black;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    font-family: var(--banner-desc-font-family) 
}
/*background setting*/
#quiz-video-container {
	position: relative;
	height: 40rem;
	width: 100%;
	background: url("../images/travelgirl.jpg");
	background-size: 100% 120%;
	transition: .3s;
	overflow: hidden;
}
#quiz-video-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0), var(--body-color));
}

.editor-container-main{
    color: rgb(250, 247, 247);
    position: relative;
    transform: translate(0%, -50%);
    background: transparent ;
    backdrop-filter: blur(5px);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(52, 51, 51);
    width: 80%;
    font-family: var(--banner-desc-font-family);
    padding: 1rem;
    padding: 2rem;
}
.editor-container-head{
    background: rgb(9, 9, 9);
    color: #00ff11c0;
    position: relative;
    border-radius: 1rem;
}
.head-list-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.head-list-2{
    background-color: var(--footer-back-color);
    color: rgb(228, 223, 223);
}
.editor-container-head li ul{
    padding: .5rem;
}
.editor-container-tasks{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2rem;
}
.editor-container-tasks-listed{
    padding: 3rem;
    border-color: aliceblue;
}
.task-head{
    padding: 1rem;
}
.task-description{
    font-size: .9rem;
    padding: 1rem;
}
.task-link {
    padding: 1rem;
}
.task-link a{
    padding: 1rem;
    color: #00ff11c0;
}
.task-link a:hover{
    background: var(--footer-back-color);
    box-shadow: 0 0 10px 2px #00ff11c0;
    color: rgb(209, 206, 206);
    transition: ease-in .2s;
    border-radius: 1rem;
}