body {
    background: url(../images/abovesigiriya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#fore-layer {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    max-width: 1000px;
    padding-top: 10rem;
    margin-bottom: 6rem;
    overflow: visible;
}

#descript {
    height: auto;
}

#about-sigiri {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    top: 60px;
}

#box1 {
    position: relative;
    display: flex;
    line-height: 30px;

    width: 90%;
    background-color: antiquewhite;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 40%;
    padding: 10px 30px;
    box-shadow: 0px 0px 30px #0f0f0f;
}

#about-sigiri h1 {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    color: black;

    padding: 30px;

}

#about-sigiri p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content1 {
    position: relative;
    display: flex;
    top: 500px;
    height: 1000px;
    background-color: white;
}

#content2 {
    position: relative;
    top: 0;
    height: 900px;

    opacity: 50%;


}

#content1>h1 {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    color: brown;
    font-size: 30px;
}

#content1 img {
    display: relative;
    top: 20px;
    width: 500px;
    height: 300px;
}